<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card Chase</title>
    {% include "game_settings/game_settings.html" %}
</head>
<body>
    <div class="container">
        <div class="content">
            <!-- Navbar -->
            {% include "navbar.html" %}
        </div>
    </div>
    <header>
        <h1 class="title main-title">Card Chase</h1>
        <h4 class="title under-title">Type the answer before the question falls</h4>    
    </header>
    <div class="containerlol">
        <!-- Left Container -->
        <div class="left-container">
            <!-- High Scores Container -->
            <div class="highscores-container">
                <h2 class="highscores-title">High Scores</h2>
                <ul class="highscores-list">
                    <li><span class="player-name">Player 7:</span> <span class="player-score">19</span></li>
                    <li><span class="player-name">Player 10:</span> <span class="player-score">16</span></li>
                    <li><span class="player-name">Player 1:</span> <span class="player-score">15</span></li>
                    <li><span class="player-name">Player 6:</span> <span class="player-score">14</span></li>
                    <li><span class="player-name">Player 8:</span> <span class="player-score">13</span></li>
                    <li><span class="player-name">Player 2:</span> <span class="player-score">12</span></li>
                    <li><span class="player-name">Player 9:</span> <span class="player-score">11</span></li>
                    <li><span class="player-name">Player 5:</span> <span class="player-score">10</span></li>
                    <li><span class="player-name">Player 3:</span> <span class="player-score">8</span></li>
                    <li><span class="player-name">Player 4:</span> <span class="player-score">7</span></li>
                </ul>            
            </div>
        </div>

        <!-- Center Container -->
        <div class="center-container">
            <!-- Preview of the game (gif) and "Let's study" button -->
            <div class="gif-container">
                <img src="static/cardchase.gif" width="465">
                <button class="buttonlol" onclick="startGame()">Let's Study!</button>
            </div>
        </div>

    <!-- Right Container -->
    <div class="right-container">      
        <!-- Settings Container -->
        <div class="settings-container">
            <h2>Settings</h2>
            <!-- Study deck -->
            <h3 class="settings-title">Study Deck</h3>
            <div class="containernew">
                <div class="button-containerdeck">
                    <div class="deck-box">
                        Cognitive Science
                    </div>
                    <a href="{{ url_for('create') }}" class="button">View Deck</a>
                    <a href="{{ url_for('find') }}" class="button">Change Deck</a>
                </div>
            </div>  
            <!-- Options menu -->
            <h3 class="settings-title">Difficulty</h3>
            <select id="options" name="options" class="options-menu">
                <option value="" disabled selected>Select Difficulty</option>
                <option value="easy">Easy</option>
                <option value="medium">Medium</option>
                <option value="hard">Hard</option>
            </select>
            <p> </p>
            <!-- Toggle buttons -->
            <h3 class="settings-title">Modes</h3>
            <div class="button-containerlol">
                <button class="toggle-button" onclick="toggleEndlessMode()">Endless Mode: Off</button>
                <button class="toggle-button2" onclick="toggleTimeMode()">Time limit: Off</button>
            </div>
        </div>
    </div>
</div>

<!-- Game Description -->
<div class="description-container">
    <div class="game-description">
        <h2>Description</h2>
        <p>Get ready for the "Card Chase Game"!</p>
        <p>With new questions each time, it's always fresh and exciting.</p>
        <p>Let's see how far you can go!</p>
    </div>
    <div class="game-instructions">
        <h2>Instructions</h2>
        <ul>
            <li>Questions will appear on the screen and move downwards. </li>
            <li>Type your answer before they reach the bottom.</li>
            <li>Press Enter to submit your answer in the text-box.</li>
            <li>Get it right, and you'll earn points and move on to the next question.</li>
        </ul>
        <p>Tips and advice</p>
        <ul>
            <li>Something here</li>
            <li>But be quick - mistakes or delays mean game over!</li>
        </ul>
    </div>
</div>

    <script type='text/javascript'>
        function startGame() {
            // Redirect to cardchase.html
            window.location.href = 'cardchase';
        }

        /* JavaScript */
        function toggleEndlessMode() {
            // Toggle Endless Mode
            var button = document.querySelector('.toggle-button');
            if (button.textContent === 'Endless Mode: Off') {
                button.textContent = 'Endless Mode: On';
                button.classList.add('on'); // Add 'on' class
            } else {
                button.textContent = 'Endless Mode: Off';
                button.classList.remove('on'); // Remove 'on' class
            }
        }

        function toggleTimeMode() {
            // Toggle Time Mode
            var button = document.querySelector('.toggle-button2');
            if (button.textContent === 'Time limit: Off') {
                button.textContent = 'Time limit: On';
                button.classList.add('on'); // Add 'on' class
            } else {
                button.textContent = 'Time limit: Off';
                button.classList.remove('on'); // Remove 'on' class
            }
        }
    </script>
</body>
</html>
