<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Define Dash</title>
    {% include "game_settings/game_settings.html" %}
    <div class="container">
        <div class="content">
            {% include "navbar.html" %}
        </div>
    </div>
    <header>
        <h1 class="title main-title">Define Dash</h1>
        <h4 class="title under-title">Define the term as quickly as possible</h4>    
    </header>
    <div class="containerlol">
        <div class="left-container">
            <!-- Cardchase section -->
            <!-- Placeholder for game GIF preview -->
            <div class="gif-container">
                <img src="static/definedash.gif" width="800">
            </div>
            <!-- Start game button -->
            <button class="buttonlol" onclick="startGame()">Let's Study!</button>
        </div>

        <div class="right-container">      
            <div class="description-container">
                <h2>Description</h2>
                <p>In this game, your goal is to define the given term as precisely as you can before the time runs out.</p>
                <p>Let's see how sharp your vocabulary and memory skills are!</p>
                <ul>
                    <li>Look at the term provided at the top of the screen.</li>
                    <li>Type your definition into the input box below the term.</li>
                    <li>Press "Enter" on your keyboard to submit your definition.</li>
                    <li>Be as accurate and detailed as possible!</li>
                    <li>If you want to quit, simply type "q" or "quit" and press "Enter".</li>
                    <li>You have 60 seconds to define each term.</li>
                </ul>
                <p>Tips and advice</p>
                <ul>
                    <li>Pay close attention to the term and try to recall its meaning accurately.</li>
                    <li>Think about the most essential aspects of the term and include them in your definition.</li>
                    <li>Don't worry if you're unsure about a term; give it your best shot!</li>
                </ul>
                <p>Ready to test your vocabulary skills? Let's DefineDash!</p>
            </div>
            <!-- Settings section -->
            <div class="settings-container">
                <h2>Settings</h2>
                <!-- Study deck -->
                <div class="containernew">
                    <h3>Study Deck: Cognitive Science</h3>
                    <a href="{{ url_for('create') }}" class="button">Change deck</a>
                </div>  
                <!-- Options menu -->
                <h3 class="settings-title">Difficulty</h3>
                <select id="options" name="options" class="options-menu">
                    <option value="" disabled selected>Select Difficulty</option>
                    <option value="easy">Easy</option>
                    <option value="medium">Medium</option>
                    <option value="hard">Hard</option>
                </select>
                <p> </p>
                <button class="toggle-button" onclick="toggleEndlessMode()">Endless Mode: Off</button>
            </div>
            <!-- High scores section -->
            <div class="settings-container">
                <h2>High Scores</h2>
                <ul class="highscores-list">
                    <li>Player 1: 15</li>
                    <li>Player 2: 12</li>
                    <li>Player 3: 8</li>
                </ul>
            </div>
            <!-- Back to Home Button -->
            <button class="button_settings" onclick="location.href='/minigames'">Back to Mingames</button>
        </div>
    </div>
    <script type='text/javascript'>
        function startGame() {
            // Redirect to cardchase.html
            window.location.href = 'definedash';
        }

        function toggleEndlessMode() {
            // Toggle Endless Mode
            var button = document.querySelector('.toggle-button');
            if (button.textContent === 'Endless Mode: Off') {
                button.textContent = 'Endless Mode: On';
            } else {
                button.textContent = 'Endless Mode: Off';
            }
        }
    </script>
</body>
</html>
