<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Define Dash</title>
    {% include "game_settings/game_settings.html" %}
</head>
<body>
    <div class="container">
        <div class="content">
            <!-- Navbar -->
            {% include "navbar.html" %}
        </div>
    </div>
    <header>
        <h1 class="title main-title">Define Dash</h1>
        <h4 class="title under-title">Define the term as quickly as possible</h4>    
    </header>
    <div class="containerlol">
        <!-- Left Container -->
        <div class="left-container">
            <!-- High Scores Container -->
            <div class="highscores-container">
                <h2 class="highscores-title">High Scores</h2>
                <ul class="highscores-list">
                    <li><span class="player-name">Player 7:</span> <span class="player-score">19</span></li>
                    <li><span class="player-name">Player 10:</span> <span class="player-score">16</span></li>
                    <li><span class="player-name">Player 1:</span> <span class="player-score">15</span></li>
                    <li><span class="player-name">Player 6:</span> <span class="player-score">14</span></li>
                    <li><span class="player-name">Player 8:</span> <span class="player-score">13</span></li>
                    <li><span class="player-name">Player 2:</span> <span class="player-score">12</span></li>
                    <li><span class="player-name">Player 9:</span> <span class="player-score">11</span></li>
                    <li><span class="player-name">Player 5:</span> <span class="player-score">10</span></li>
                    <li><span class="player-name">Player 3:</span> <span class="player-score">8</span></li>
                    <li><span class="player-name">Player 4:</span> <span class="player-score">7</span></li>
                </ul>            
            </div>
        </div>

        <!-- Center Container -->
        <div class="center-container">
            <!-- Preview of the game (gif) and "Let's study" button -->
            <div class="gif-container">
                <img src="static/definedash.gif" width="477">
                <button class="buttonlol" onclick="startGame()">Let's Study!</button>
            </div>
        </div>

    <!-- Right Container -->
    <div class="right-container">      
        <!-- Settings Container -->
        <div class="settings-container">
            <h2>Settings</h2>
            <!-- Study deck -->
            <h3 class="settings-title">Study Deck</h3>
            <div class="containernew">
                <div class="button-containerdeck">
                    <div class="deck-box">
                        Cognitive Science
                    </div>
                    <a href="{{ url_for('deck_one') }}" class="button">View deck</a>
                    <a href="{{ url_for('deck_one') }}" class="button">Edit deck</a>
                </div>
            </div>  
            <!-- Options menu -->
            <h3 class="settings-title">Difficulty</h3>
            <select id="options" name="options" class="options-menu">
                <option value="" disabled selected>Select Difficulty</option>
                <option value="easy">Easy</option>
                <option value="medium">Medium</option>
                <option value="hard">Hard</option>
            </select>
            <p> </p>
            <!-- Toggle buttons -->
            <h3 class="settings-title">Modes</h3>
            <div class="button-containerlol">
                <button class="toggle-button" onclick="toggleEndlessMode()">Endless Mode: Off</button>
                <button class="toggle-button2" onclick="toggleTimeMode()">Time limit: Off</button>
            </div>
        </div>
    </div>
</div>

<!-- Game Description -->
<div class="description-container">
    <div class="game-description">
        <h2>Description</h2>
        <p>In this game, your goal is to define the given term as precisely as you can before the time runs out.</p>
        <p>Let's see how sharp your vocabulary and memory skills are!</p>
        <p>DefineDash presents users with a series of terms and prompts them to type out their definitions. It helps users solidify their understanding of key concepts through active recall.</p>
        <p>This mode encourages users to engage deeply with the material, enhancing comprehension and retention.</p>
        <p>Ready to test your vocabulary skills? Let's DefineDash!</p>
    </div>
    <div class="game-instructions">
        <h2>Instructions</h2>
        <ul>
            <li>Look at the term provided at the top of the screen.</li>
            <li>Type your definition into the input box below the term.</li>
            <li>Press "Enter" on your keyboard to submit your definition.</li>
            <li>Be as accurate and detailed as possible!</li>
            <li>If you want to quit, simply type "q" or "quit" and press "Enter".</li>
            <li>You have 60 seconds to define each term.</li>
        </ul>
        <p>Tips and advice</p>
        <ul>
            <li>Pay close attention to the term and try to recall its meaning accurately.</li>
            <li>Think about the most essential aspects of the term and include them in your definition.</li>
            <li>Don't worry if you're unsure about a term; give it your best shot!</li>
        </ul>
    </div>
</div>

    <script type='text/javascript'>
        function startGame() {
            // Redirect to cardchase.html
            window.location.href = 'definedash';
        }

        /* JavaScript */
        function toggleEndlessMode() {
            // Toggle Endless Mode
            var button = document.querySelector('.toggle-button');
            if (button.textContent === 'Endless Mode: Off') {
                button.textContent = 'Endless Mode: On';
                button.classList.add('on'); // Add 'on' class
            } else {
                button.textContent = 'Endless Mode: Off';
                button.classList.remove('on'); // Remove 'on' class
            }
        }

        function toggleTimeMode() {
            // Toggle Time Mode
            var button = document.querySelector('.toggle-button2');
            if (button.textContent === 'Time limit: Off') {
                button.textContent = 'Time limit: On';
                button.classList.add('on'); // Add 'on' class
            } else {
                button.textContent = 'Time limit: Off';
                button.classList.remove('on'); // Remove 'on' class
            }
        }
    </script>
</body>
</html>
