<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flashcards</title>
    {% include "game_settings/game_settings.html" %}
</head>
<body>
    <div class="container">
        <div class="content">
            <!-- Navbar -->
            {% include "navbar.html" %}
        </div>
    </div>
    <header>
        <h1 class="title main-title">Flashcards</h1>
        <h4 class="title under-title">View your flashcards from your study deck</h4>    
    </header>
    <div class="containerlol">
        <!-- Left Container -->
        <div class="left-container">
            <!-- High Scores Container -->
            <div class="highscores-container">
                <h2 class="highscores-title">High Scores</h2>
                <ul class="highscores-list">
                    <li><span class="player-name">Player 7:</span> <span class="player-score">19</span></li>
                    <li><span class="player-name">Player 10:</span> <span class="player-score">16</span></li>
                    <li><span class="player-name">Player 1:</span> <span class="player-score">15</span></li>
                    <li><span class="player-name">Player 6:</span> <span class="player-score">14</span></li>
                    <li><span class="player-name">Player 8:</span> <span class="player-score">13</span></li>
                    <li><span class="player-name">Player 2:</span> <span class="player-score">12</span></li>
                    <li><span class="player-name">Player 9:</span> <span class="player-score">11</span></li>
                    <li><span class="player-name">Player 5:</span> <span class="player-score">10</span></li>
                    <li><span class="player-name">Player 3:</span> <span class="player-score">8</span></li>
                    <li><span class="player-name">Player 4:</span> <span class="player-score">7</span></li>
                </ul>            
            </div>
        </div>

        <!-- Center Container -->
        <div class="center-container">
            <!-- Preview of the game (gif) and "Let's study" button -->
            <div class="gif-container">
                <img src="static/Flashcards.gif" width="525">
                <button class="buttonlol" onclick="startGame()">Let's Study!</button>
            </div>
        </div>

    <!-- Right Container -->
    <div class="right-container">      
        <!-- Settings Container -->
        <div class="settings-container">
            <h2>Settings</h2>
            <!-- Study deck -->
            <h3 class="settings-title">Study Deck</h3>
            <div class="containernew">
                <div class="button-containerdeck">
                    <div class="deck-box">
                        Cognitive Science
                    </div>
                    <a href="{{ url_for('deck_one') }}" class="button">View deck</a>
                    <a href="{{ url_for('deck_one') }}" class="button">Edit deck</a>
                </div>
            </div>  
            <!-- Options menu -->
            <h3 class="settings-title">Difficulty</h3>
            <select id="options" name="options" class="options-menu">
                <option value="" disabled selected>Select Difficulty</option>
                <option value="easy">Easy</option>
                <option value="medium">Medium</option>
                <option value="hard">Hard</option>
            </select>
            <p> </p>
            <!-- Toggle buttons -->
            <h3 class="settings-title">Modes</h3>
            <div class="button-containerlol">
                <button class="toggle-button" onclick="toggleEndlessMode()">Endless Mode: Off</button>
                <button class="toggle-button2" onclick="toggleTimeMode()">Time limit: Off</button>
            </div>
        </div>
    </div>
</div>

<!-- Game Description -->
<div class="description-container">
    <div class="game-description">
        <h2>Description</h2>
        <p>Welcome to CogCards - Flashcards!</p>
        <p>Prepare to sharpen your memory and knowledge with our interactive flashcard game.</p>
        <p>Test yourself with a variety of terms and see how well you can recall their meanings.</p>
        <p>The classic flashcard mode allows users to flip through virtual flashcards at their own pace, reviewing both term and definition to reinforce learning through repetition. Users can easily navigate between cards, marking their progress and focusing on areas that require more practice. This mode is particularly effective for consolidating information and improving memory retention.</p>
    </div>
    <div class="game-instructions">
        <h2>Instructions</h2>
        <p>Here's how it works:</p>
        <ul>
            <li>View the Flashcard: The term to be defined is displayed on the front of the flashcard. Take a moment to read it carefully.</li>
            <li>Flip the Card: Press the "Flip" button to reveal the answer to the term. See if your memory serves you well!</li>
            <li>Navigate Through Cards: Use the "Previous" and "Next" buttons to move between flashcards. Test your knowledge on a variety of terms.</li>
        </ul>
        <p>Tips and advice:</p>
        <ul>
            <li>Take your time to think about each term before revealing the answer.
            </li>
            <li>Try to recall the answer before flipping the card to test your memory.
            </li>
            <li>Don't worry if you're unsure about a term; use the "Next" button to move forward and come back to it later.
            </li>
        </ul>
    </div>
</div>

    <script type='text/javascript'>
        function startGame() {
            // Redirect to cardchase.html
            window.location.href = 'flashcards';
        }

        /* JavaScript */
        function toggleEndlessMode() {
            // Toggle Endless Mode
            var button = document.querySelector('.toggle-button');
            if (button.textContent === 'Endless Mode: Off') {
                button.textContent = 'Endless Mode: On';
                button.classList.add('on'); // Add 'on' class
            } else {
                button.textContent = 'Endless Mode: Off';
                button.classList.remove('on'); // Remove 'on' class
            }
        }

        function toggleTimeMode() {
            // Toggle Time Mode
            var button = document.querySelector('.toggle-button2');
            if (button.textContent === 'Time limit: Off') {
                button.textContent = 'Time limit: On';
                button.classList.add('on'); // Add 'on' class
            } else {
                button.textContent = 'Time limit: Off';
                button.classList.remove('on'); // Remove 'on' class
            }
        }
    </script>
</body>
</html>
