<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Term Time</title>
    {% include "game_settings/game_settings.html" %}
</head>
<body>
    <div class="container">
        <div class="content">
            <!-- Navbar -->
            {% include "navbar.html" %}
        </div>
    </div>
    <header>
        <h1 class="title main-title">Term Time</h1>
        <h4 class="title under-title">Write the term to the definition before the time runs out</h4>    
    </header>
    <div class="containerlol">
        <!-- Left Container -->
        <div class="left-container">
            <!-- High Scores Container -->
            <div class="highscores-container">
                <h2 class="highscores-title">High Scores</h2>
                <ul class="highscores-list">
                    <li><span class="player-name">Player 7:</span> <span class="player-score">19</span></li>
                    <li><span class="player-name">Player 10:</span> <span class="player-score">16</span></li>
                    <li><span class="player-name">Player 1:</span> <span class="player-score">15</span></li>
                    <li><span class="player-name">Player 6:</span> <span class="player-score">14</span></li>
                    <li><span class="player-name">Player 8:</span> <span class="player-score">13</span></li>
                    <li><span class="player-name">Player 2:</span> <span class="player-score">12</span></li>
                    <li><span class="player-name">Player 9:</span> <span class="player-score">11</span></li>
                    <li><span class="player-name">Player 5:</span> <span class="player-score">10</span></li>
                    <li><span class="player-name">Player 3:</span> <span class="player-score">8</span></li>
                    <li><span class="player-name">Player 4:</span> <span class="player-score">7</span></li>
                </ul>            
            </div>
        </div>

        <!-- Center Container -->
        <div class="center-container">
            <!-- Preview of the game (gif) and "Let's study" button -->
            <div class="gif-container">
                <img src="static/realtermtime.gif" width="505">
                <button class="buttonlol" onclick="startGame()">Let's Study!</button>
            </div>
        </div>

    <!-- Right Container -->
    <div class="right-container">      
        <!-- Settings Container -->
        <div class="settings-container">
            <h2>Settings</h2>
            <!-- Study deck -->
            <h3 class="settings-title">Study Deck</h3>
            <div class="containernew">
                <div class="button-containerdeck">
                    <div class="deck-box">
                        Cognitive Science
                    </div>
                    <a href="{{ url_for('deck_one') }}" class="button">View deck</a>
                    <a href="{{ url_for('deck_one') }}" class="button">Edit deck</a>
                </div>
            </div>  
            <!-- Options menu -->
            <h3 class="settings-title">Difficulty</h3>
            <select id="options" name="options" class="options-menu">
                <option value="" disabled selected>Select Difficulty</option>
                <option value="easy">Easy</option>
                <option value="medium">Medium</option>
                <option value="hard">Hard</option>
            </select>
            <p> </p>
            <!-- Toggle buttons -->
            <h3 class="settings-title">Modes</h3>
            <div class="button-containerlol">
                <button class="toggle-button" onclick="toggleEndlessMode()">Endless Mode: Off</button>
                <button class="toggle-button2" onclick="toggleTimeMode()">Time limit: Off</button>
            </div>
        </div>
    </div>
</div>

<!-- Game Description -->
<div class="description-container">
    <div class="game-description">
        <h2>Description</h2>
        <p>Get ready to test your typing skills and knowledge in this exciting challenge.</p>
        <p>The goal is simple: type as many terms as you can before time runs out!</p>
        <p>TermTime is a timed challenge where users must match terms with their definitions as quickly as possible. It helps improve memory recall and speed while making learning more exciting. This mode is ideal for users who enjoy competitive challenges and want to test their knowledge under pressure.</p>
    </div>
    <div class="game-instructions">
        <h2>Instructions</h2>
        <p>Here's how it works:</p>
        <ul>
            <li>Begin by typing your answers into the text field provided. Each term you type should match one of the elements displayed on the screen.</li>
            <li>Press "Enter" after typing each term to submit your answer. If your term matches one of the elements displayed, you'll score a point.</li>
            <li>Watch the timer countdown to see how much time you have left. You have 60 seconds to type as many correct terms as possible.</li>
            <li>Get it right, and you'll earn points and move on to the next question.</li>
            <li>Each correct term you type earns you a point. Keep an eye on your score displayed on the screen.</li>
            <li> The game ends when time runs out. If you successfully type all the displayed terms before time is up, you win!</li>
        </ul>
        <p>Tips and advice</p>
        <ul>
            <li>Focus on accuracy and speed to maximize your score.
            </li>
            <li>If you get stuck, remember you can always type "q" or "quit" to end the game prematurely.
            </li>
            <li>Stay calm and keep typing until the timer runs out!
            </li>
        </ul>
    </div>
</div>

    <script type='text/javascript'>
        function startGame() {
            // Redirect to cardchase.html
            window.location.href = 'termtime';
        }

        /* JavaScript */
        function toggleEndlessMode() {
            // Toggle Endless Mode
            var button = document.querySelector('.toggle-button');
            if (button.textContent === 'Endless Mode: Off') {
                button.textContent = 'Endless Mode: On';
                button.classList.add('on'); // Add 'on' class
            } else {
                button.textContent = 'Endless Mode: Off';
                button.classList.remove('on'); // Remove 'on' class
            }
        }

        function toggleTimeMode() {
            // Toggle Time Mode
            var button = document.querySelector('.toggle-button2');
            if (button.textContent === 'Time limit: Off') {
                button.textContent = 'Time limit: On';
                button.classList.add('on'); // Add 'on' class
            } else {
                button.textContent = 'Time limit: Off';
                button.classList.remove('on'); // Remove 'on' class
            }
        }
    </script>
</body>
</html>
