aiohttp>=3.8.1
Flask>=3.0.0
flask-cors>=4.0.0  # <-- Add this line
gunicorn>=20.1.0
imageio>=2.9.0
numpy>=1.23.5
opencv-contrib-python>=4.5.5
pandas>=2.0.0
Pillow>=10.0.0
requests>=2.24.0
scikit-learn>=1.0.0
scipy>=1.5.2
tqdm>=4.50.2