<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CardChase</title>
    <link rel="stylesheet" href="style_cardchase.css">
</head>
<body>
    <canvas id="gameCanvas" width="300" height="500"></canvas>
    <input type="text" id="userInput" placeholder="Enter your answer...">
    <button id="submitButton">Submit</button>
    <div id="questionAnswerContainer">
        <p id="question"></p>
        <p id="answer"></p>
    </div>
    <script src="cardchase.js"></script>
</body>
</html>