<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Cards</title>
<style>
    .button {
        display: inline-block;
        padding: 10px 20px;
        margin: 10px;
        background-color: #007bff;
        color: #fff;
        text-decoration: none;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        align-items: right;
    }
</style>
</head>
<body>
    <div class="container">
        <div class="content">
            {% include "navbar.html" %}
        </div>
    </div>
    <img src="{{ url_for('static', filename='create.png') }}" class="resized-img">
</body>
</html>
