{% extends "base.html" %}

<link rel="icon" href="{{ url_for('static', filename='icon.png') }}">

{% block content %}
  <div class="centered-content">
    <h2>Log in</h2>

    <form action="{{ url_for('login') }}" method="post">
        <label for="username">Username</label>
        <input id="username" type="text" name="username">

        <label for="password">Password</label>
        <input id="password" type="password" name="password">

        <input type="submit" value="Log in">
    </form>
  </div>
{% endblock %}
