{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block content %}
  <h2>Register</h2>

  <form action="{{ url_for('register') }}" method="post">
      <label for="username">Username</label>
      <input id="username" type="text" name="username">

      <label for="password1">Password</label>
      <input id="password1" type="password" name="password1">

      <label for="password2">Password (again)</label>
      <input id="password2" type="password" name="password2">

      <input type="submit" value="Register">
  </form>

{% endblock %}
